/* REM 1rem = 16px 2rem = 32px 1.5  = 24px
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #2020;
    /* color: black; */
    /* font-size: 2rem; */
}

html {
    font-size: 62,5%; /* 10% */
    
    /* background-attachment: fixed; */
}
